DISCORD_TOKEN=your_discord_bot_token
DISCORD_APP_ID=your_discord_application_id
DISCORD_GUILD_ID=your_discord_guild_id
PROJECT_ID=your_gcp_project_id
ZONE=southamerica-east1-b
BUCKET_NAME=your_gcs_bucket_name
DOCKER_IMAGE=your_artifact_registry_docker_image
MACHINE_TYPE=e2-standard-2
VM_NAME=valheim-server
SHUTDOWN_PORT=8080
